<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imageboardSQL">
	<!-- 이미지 게시판 작성 -->
	<insert id="imageboardWrite" parameterType="imageboard">
		insert into imageboard(seq,imageId,imageName,imagePrice,imageQty,imageContent,image1) values(seq_imageboard.nextval,#{imageId},#{imageName},#{imagePrice},#{imageQty},#{imageContent},#{image1})
	</insert>
	
</mapper>