@charset "UTF-8";
ul, ol, li { 
    list-style: none; 
}
.mypage a {
    color: #222;
    display: inline-block;
    text-decoration: none;
}
.carousel{
    background: #586890;
    margin-top: 30px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.bs-example{
	margin: 20px;
}

/* 레이아웃 */
#demo {
	width: 1903px;
}
.outer-margin {
	padding: 0 40px;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

.page-header {
	margin-top: 50px;
	width: 1903px;
}

.page-width {
	display: inline-block;
	width: 1352px;
}
.section-title {
	border-top: 2px solid #222;
	margin: 50px 0 35px;
	padding-top: 50px;
	position: relative;
}

/* container page */
.page-container {
	margin-top: 40px;
	width: 100%;
	display: inline-block;
}
.page-container-width {
	width: 1903px;
}
.page-navigation {
	float: left;
	margin-top: 30px;
	width: 250px;
}
.page-content {
	float: right;
	/* width: calc(100% - 250px); */
	width: 1100px;
	min-height: 40vh;
}
.page-navigation ul li {
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: bold;
}
.page-navigation ul .current {
    font-weight: 700;
}
.page-navigation ul li a {
    position: relative;
}
.page-navigation ul li a:hover {
    width: 100%;
}
.page-content .section-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.page-content .section {
    margin-bottom: 50px;
}

.account-menu {
    position: absolute;
    top: 55px;
    right: 0;
}
.account-menu a {
    font-weight: 500;
    margin-left: 20px;
}
.account-summary {
    display: flex;
}
.account-summary .item {
    flex: auto;
}
.account-summary .item .label {
    margin-bottom: 10px;
}
.account-summary .item .label a:after {
    margin-left: 5px;
}
.account-summary .item .value {
    font-size: 28px;
    font-weight: 600;
}
.order-list .list-row .order-info {
    width: 70%;
}
.order-list .list-row .order-info .product {
    font-size: 14px;
    margin-bottom: 5px;
}
.order-list .list-row .order-info .order-number {
    color: #aaa;
    font-size: 12px;
}
.order-list .list-row .date {
    width: 20%;
}
.order-list .list-row .price {
    width: 10%;
}
.empty-list {
    border-top: 1px solid #dcdcdc;
    padding-top: 50px;
    font-size: 15px;
    color: #aaa;
}
.service-menu {
    position: absolute;
    top: 55px;
    right: 0;
}
.service-menu {
	font-weight: 500;
    margin-left: 20px;
}

/* 문의하기 부분 */
#formDiv {
	border-top: 1px solid #dcdcdc;
	padding-top: 10px;
}
#summernoteDiv {
	width: 1090px;
	padding-left: 10px;
}
#button {
	padding: 5px;
	margin-top: 10px;
	text-align: right;
	width: 1100px;
}
#subjectDiv, #authorDiv {
	width: 1108px;
}
#subjectLabel, #authorLabel {
	font-size: 20px;
	margin-right: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 100px;
}
.boardSpan {
	font-size: 18px;
}

/* 고객센터 부분 */
.serviceTable {
	margin: 10px;
}
.serviceTable th {
	text-align: center;
}
.boardViewContent {
	margin-top: 20px;
	margin-left: 10px;
	width: 1078px;
	height: 384px;
	padding: 10px;
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #dcdcdc;
}
/*페이징 처리 부분 */
#currentPaging { 
	color: #fff;
	background: #555;
	text-decoration: none; 
	cursor: pointer;
}
#paging { 
	color: black; 
	text-decoration: none; 
	cursor: pointer;
}
#pagingDiv {
	margin-top: 20px;
}