@charset "UTF-8";
.footer {
    padding: 30px 0;
    margin-top: 70px;
}
.footer .outer-margin {
    max-width: 100%;
}
.footer .footer-info {
    border-top: 2px solid #222;
    padding-top: 30px;
    position: relative;
    width: 1820px;
}

/* scrollTop */
a.top {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 50px;
	height: 30px;
	background: #555;
	color: #fff;
	display: none;
	text-align: center;
	font-size: 20px;
}

a.top:hover {
	color: #fff;
	background: #212121;
	text-decoration: none;
}