@charset "UTF-8";
.header {
    height: 70px;
}

.header .navigation {
	width: 1903px;
	border: none;
	border: 0px;
	margin: 0px;
	font: 67.5% "Raleway-Regular", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
}
.header .navigation .navigation-menu ul {
	/* background: rgb(109, 109, 109); */
	height: 50px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header .navigation .navigation-menu li {
	float: left;
	padding: 0px;
}

.header .navigation .navigation-menu li a {
	/* background: rgb(109, 109, 109); */
	color: #000000;
	display: block;
	font-weight: normal;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.header .navigation .navigation-menu li a:hover, .navigation ul li:hover a {
	background: #EAE6E3;
	color: #000000;
	text-decoration: none;
	transition: background-color .15s ease-out, width .25s ease-out;
}

.header .navigation .navigation-menu li ul {
	background: #F4F2EF;
	display: none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.header .navigation .navigation-menu li:hover ul {
	display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.header .navigation .navigation-menu li li {
	background: #F4F2EF;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

.header .navigation .navigation-menu li:hover li a {
	background: none;
}

.header .navigation .navigation-menu li ul a {
	display: block;
	height: 50px;
	font-size: 14px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

.header .navigation .navigation-menu li ul a:hover, .navigation li ul li:hover a {
	color: #fff;
	background: #555;
	border: 0px;
	text-decoration: none;
}

.header .navigation .navigation-menu p {
	clear: left;
}

.header .navigation .primary-menu {
    float: left;
}
.header .navigation .secondary-menu {
    float: right;
}

.form-group {
	font-size: 20px;
	text-align: left;
	font-family: Raleway-Medium;
}

.modal-body .checkbox {
	font-family: Raleway-Medium;
	text-align: left;
}

.form-control {
     display: inline-block;
}
